*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 85vh;
    background-color: darksalmon;
    color: #000000;
}
.content{
    text-align: center;   
    position: relative; 
    top: 10%;
}
.main img{
    width: 200;
    height:300;
    border-radius: 0;
}
.main h1{
    font-size: 80px;
}
.main p{
    font-size: 50px;
}
.main input{
    width: 300px;
}